body {
    background-color: rgb(228, 229, 247);
  }
  .btn{
    background-color: rgb(69, 69, 185);
    color: white;
    padding: 8px 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 10%;
    border-radius: 10px;
    border: none;
    
  }
  .img{
      width: auto;
      height: 50px;
  }
  a {
    text-decoration: none;
  }
  
  .card {
    font-family: sans-serif;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom:3em;
    border-radius: 10px;
    background-color: #ffff;
    padding: 1.8rem;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
  }

  .card-register{
    font-family: sans-serif;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom:3em;
    border-radius: 10px;
    background-color: #ffff;
    padding: 1.8rem;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
  }

  .card-index{
    font-family: sans-serif;
    width: 50em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom:3em;
    border-radius: 10px;
    background-color: #ffff;
    padding: 1.8rem;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    font-weight: bold;
    margin: 0;
  }
  .subtitle {
    text-align: center;
    font-weight: bold;
  }
  .btn-text {
    margin: 0;
  }
  
  .or {
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid rgb(245 239 239);
    line-height: 0.1em;
    margin: 25px 0;
  }
  .or span {
    background: #fff;
    padding: 0 10px;
  }
  
  .email-login {
    display: flex;
    flex-direction: column;
  }
  .email-login label {
    color: rgb(170 166 166);
  }
  
  textarea,
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 15px 20px;
    margin-top: 8px;
    margin-bottom: 15px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
  }
  select {
    padding: 15px 20px;
    margin-top: 8px;
    margin-bottom: 15px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
  }
  
  .cta-btn {
    background-color: rgb(69, 69, 185);
    color: white;
    padding: 18px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
  }
  
  .forget-pass {
    text-align: center;
    display: block;
    color: rgb(69, 69, 185);
  }
  
  .go-back:hover{
    cursor:pointer;
    color: rgb(87, 87, 211);
  }

  .errors{
      color: crimson;
      margin: 5px;
      border: crimson 1px solid;
      padding: 10px;
      border-radius: 10px;
  }
  .success{
    color: rgb(51, 181, 18);
    margin: 5px;
    border: rgb(51, 181, 18) 1px solid;
    padding: 10px;
    border-radius: 10px;
}
  @import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	background: #fbfbfb;
	margin: 0;
	padding: 0;
  font-family: Roboto;
}
.header{
	background: #2f0b76;
}
.nav-bar{
	display:flex;
	justify-content: space-between;
	padding: 15px 0;
}

.nav-bar__list {
	list-style-type: none;
	text-align: center;
	margin: 10px 0;
}

.nav-bar__list__item{
	display: inline-block;
	margin: 0 70px;
	padding: 0 10px;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
}

.bars {
	position: relative;
	display: inline-block;
	width: 25px;
	height: 2.83px;
	background: #ffffff;
	margin: 15px 25px;
}

.bars:before, .bars:after{
	content: " ";
	position: absolute;
	width: 25px;
	height: 2.83px;
	left: 0;
	background: #ffffff;
}

.bars:before{
	bottom: 7px;
}

.bars:after{
	top: 7px;
}

.button {
	background: #fff;
	color: #000;
	display: inline-block;
	text-decoration: none;
	padding: 10px 23px;
	margin: 0 35px;
	text-transform: uppercase;
	box-shadow: rgba(0, 0, 0, .22) 0 3px 6px;
	border-radius: 4px;
}
h1{
	color: #455a64;
	font-size: 25px;
	font-weight: 300;
}
.main{
	padding: 35px 180px;
	display: flex;
	justify-content: center;
}

.list-description{
	background: #fff;
	padding: 25px;
	box-shadow: rgba(0, 0, 0, .22) 0 3px 6px;
}

.list-description--item {
	display: flex;
	margin-top: 35px;
}

.list-description--title {
	margin: 0;
	 color: #414B6B;
	
}

.side-bar .dropdown-content{
	padding: 0;
  margin: 0 -10px;
  position: relative;
  top: 15px;
}

.dropdown-content li {
	font-size: 14px;
	font-weight: 400;	
	padding: 10px 20px;
	background: #DFE1E8;
	margin: 0 -10px;
	/* display:none; */
}

.dropdown {
  color:red;
  position: relative;
  transition: 0.4s;
}
/* .dropdown:hover{ 
	color:red;
} */
.active{
	background-color:#ccc;
	
}

.dropdown:after {
  content: '';
  width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
	position: absolute;
	top: 5px;
	right: 15px;
}

.dropdown-content li:not(:last-child){
	border-bottom: 1px solid #ccc;
	/* padding: 10px; */
}

.number{
	display: inline-block;
	margin-right: 15px;
	border-radius: 50%;
	border: 1px solid #DFE1E8;
	font-size: 14px;
	padding: 8px 12px;
	color: #8C969F;
	font-weight: 300;
}

.side-bar {
	width: 500px;
	margin-left: 25px;
	font-size: 15px;
}

.side-bar ul {
	background: #fff;
	margin: 0;
	list-style-type: none;
	font-size: 15px; 
	padding: 0;

}
.side-bar > ul {
	box-shadow: rgba(0, 0, 0, .22) 0 3px 6px;
}

.side-bar--list-item {
	padding: 15px 20px;
	color: #3B3F48;
	font-weighT: 500;
	
}
.side-bar--list-item:not(:last-child){
	border-bottom: 1px solid #8C969F;

}

p{
	color: #8a96a0;
	font-size: 14px;
	line-height: 1.5;
}
.market{
	border-collapse: collapse;
	font-weight: 400;
	margin-left: 40px;
    font-size: 14px;
	width: calc(100% - 40px);
	
}

.market th{
	border-bottom: 1px solid #ccc;
	width: 20%;
	text-align: left;
	border-bottom-width: 80%;
	position: relative;
	
}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid green;
	position: relative;
	bottom: 10px;
	left: 15px;
  }
  
  .arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid red;
	position: relative;
	top: 10px;
	left: 15px;
  }
  
  .market tbody tr:nth-child(even) {
	background: rgba(0,0,0, .04);
  }

.market th, .market td{
	padding: 15px;
	color: #8A96A0;
	font-size: 14px;
}